<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="dog" class="helloWorld.spring.bean.impl.Dog"></bean>
	<bean id="cat" class="helloWorld.spring.bean.impl.Cat"></bean>
	<bean id="box" class="helloWorld.spring.bean.BoxIn">
		<property name="animal" ref="cat"></property>
	</bean>

</beans>
